.btn {
  padding: 5px;
  text-align: center;
}

.btn-block {
  flex: 1;
  border-radius: $corners_buttons;
  box-shadow: $shadow_narrow_black;
  &:hover {
    box-shadow: $shadow_wide_black;
  }
  &:active {
    box-shadow: inset $shadow_narrow_black;
  }
}