$corners_buttons: 5px;
$corners_input: 3px;

$shadow_dark: 0px 0px 10px $dark;
$shadow_darker: 0px 0px 5px $darker;
$shadow_darkest: 0px 0px 4px $darkest;
$shadow_wide_black: 0 0 5px black;
$shadow_narrow_black: 0 0 2px black;